{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="about">
    <p>
        We built network speed test tool. That measures your Internet Download speed,<br>
        Upload speed, Ping etc. The measuring process is simple. You just have to<br>
        click go button. It will take some time and after that you will get result.
    </p>

    <p>
        <h1>About Developers</h1>
    Smit Pambhar - smitpambhar22@gmail.com<br>
    Brijesh Bhut - bhutbrijeshm@gmail.com
    </p>
    </div>
{% endblock %}

